.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  color: white;
  padding: 10px 0;
  position: relative;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  display: inline-block;
  padding-right: 50px;
  font-size: 18px;
  animation: ticker-animation 250s linear infinite;
  -webkit-animation: ticker-animation 250s linear infinite;
}

.ticker-item {
  display: inline-block;
  padding-right: 50px;
  font-size: 18px;
  font-weight: 500;
}

@keyframes ticker-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
